<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    <title>
        {% block title %}
        《OpenStack 新势力》- 开源论坛
        {% endblock %}
    </title>
    {% block stylesheet %}
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block body-header %}
    {% endblock %}
</body>
</html>